@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 font-size:inherit, h2 font-size:inherit, h3 font-size:inherit, h4 font-size:inherit, h5 font-size:inherit, h6 font-size:inherit {
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 1px;
  background-color: #EFEFEF;
}

.menu {
  padding: 16px 0;
  background: #EFEFEF;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.menu__link {
  font-size: 14px;
  color: #333333;
}

.second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.second-line__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-line__logo img {
  margin-right: 20px;
}

.second-line__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66C05D;
}

.second-line__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.second-line__contact a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.callback {
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
  font-size: 14px;
}

.main-menu {
  padding: 30px 0;
}
.main-menu .main-menu__list {
  gap: 40px;
}
.main-menu .main-menu__link {
  font-size: 16px;
  line-height: 19px;
}

.burger {
  display: none;
}

.burger__btn {
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.burger__btn span {
  display: block;
  position: absolute;
  background: #66C05D;
  width: 30px;
  height: 4px;
  top: 18px;
  left: 5px;
  right: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.burger__btn span:after,
.burger__btn span:before {
  content: "";
  display: block;
  position: absolute;
  background: #66C05D;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger__btn span:before {
  bottom: -9px;
}

.burger__btn span:after {
  top: -9px;
}

.close span {
  background: none;
}

.close span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close span:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-mobile {
  position: absolute;
  background-color: #EFEFEF;
  padding: 10px 20px 40px;
  border-radius: 0 0 30px 0;
  overflow: hidden;
  top: 119px;
  left: 0;
  width: 80%;
  max-width: 300px;
  color: #333333;
  -webkit-animation: menu-mobile 0.5s ease 1 alternate;
          animation: menu-mobile 0.5s ease 1 alternate;
}
.menu-mobile h3 {
  margin: 35px 0;
  font-size: 20px;
}

@-webkit-keyframes menu-mobile {
  0% {
    left: -350px;
  }
  100% {
    left: 0;
  }
}

@keyframes menu-mobile {
  0% {
    left: -350px;
  }
  100% {
    left: 0;
  }
}
.menu-mobile__item {
  margin-bottom: 15px;
}
.menu-mobile__item::last-child {
  margin-bottom: 0;
}

.menu-mobile__link {
  color: inherit;
  font-size: 16px;
}

.none {
  display: none;
}

.sale {
  background: url(../img/sale.png) center/cover no-repeat;
  padding: 192px 0;
  color: #FFFFFF;
}
.sale__grope {
  max-width: 310px;
}
.sale__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 50px;
}
.sale__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
}
.sale__btn {
  width: 170px;
  height: 40px;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.special-offer {
  background-color: #EFEFEF;
  padding: 70px 0;
}
.special-offer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.special-offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.7%;
}
.special-offer__item {
  padding: 25px 2.7%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  gap: 20px;
  text-align: center;
}
.special-offer__img {
  width: 125px;
}
.special-offer__text {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.special-offer__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}
.special-offer__btn {
  width: 130px;
  height: 35px;
  background: #66C05D;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.subscribe-invitation {
  padding: 40px 0 132px;
  background: #EFEFEF;
}

.subscribe-invitation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe,
.invitation {
  padding: 35px 40px;
  background-color: #66C05D;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.subscribe {
  position: relative;
}
.subscribe::before {
  content: "";
  display: block;
  width: 140px;
  height: 107px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 45px;
  background-image: url(../img/group.svg);
  background-repeat: no-repeat;
}

.subscribe__email {
  width: 225px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 9px 25px;
  font-size: 14px;
  line-height: 16px;
}
.subscribe__email:-moz-placeholder-shown {
  color: #C4C4C4;
}
.subscribe__email:-ms-input-placeholder {
  color: #C4C4C4;
}
.subscribe__email:placeholder-shown {
  color: #C4C4C4;
}

.subscribe__body,
.invitation__body {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  max-width: 250px;
}

.invitation__body {
  max-width: 215px;
}

.subscribe__subtitlee,
.invitation__subtitlee {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.subscribe__text,
.invitation__text {
  font-size: 14px;
  line-height: 20px;
}

.invitation__btn {
  width: 170px;
  height: 35px;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  background-color: #EFEFEF;
}
.footer__row {
  background: #fff;
  padding: 38px 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.social-media__link {
  display: block;
  border: 2px solid #66C05D;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: center no-repeat;
}
.social-media__text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.icon__youtube {
  background-image: url(../img/vector1.svg);
}

.icon__vk {
  background-image: url(../img/group2.svg);
}

.icon__facebook {
  background-image: url(../img/facebook-logo3.svg);
}

.icon__instagram {
  background-image: url(../img/instagram4.svg);
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 670px;
          flex: 0 1 670px;
}
.contacts__row span {
  font-size: 14px;
  line-height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.contacts__row a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.copyright span {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  font-style: normal;
}

@media (max-width: 900px) {
  .subscribe-invitation {
    padding: 0 0 70px;
  }
  .contacts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__row span {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__row a {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    font-size: 14px;
  }
  .contacts__row .contacts__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 710px) {
  .header:after,
.menu,
.second-line__contact,
.main-menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .sale {
    padding: 50px 0;
  }
  .special-offer {
    padding: 20px 0;
  }
  .special-offer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .special-offer__item {
    width: calc(100% - 30px)/2;
  }
  .subscribe-invitation {
    padding-bottom: 20px;
  }
  .footer__row {
    padding: 15px 0;
  }
  .contacts__row {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__row span {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__row a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .contacts__row .contacts__btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 560px) {
  .contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__row {
    display: none;
  }
}